      <h1 class="title">Todo App</h1>
      <section id="todoapp">
        <app-menu></app-menu>
        <div>
          <header id="header">
            <input type="text" id="new-todo" placeholder="What needs to be done?" #input (keyup.enter)="todo$.next(input.value);input.value=''">
          </header>
          <section id="main">
            <input type="checkbox" id="toggle-all" #checkbox (click)="toggleAll$.next(checkbox.checked)">
            <app-todo-list></app-todo-list>
          </section>
        </div>
      </section>
      <footer id="info">
        <p>Double-click to edit a todo</p>
        <p>Created by <a href="http://kgosse.github.io/resumecard" target="_blank">kgosse</a></p>
        <p>Based on <a href="http://todomvc.com" target="_blank">TodoMVC</a></p>
      </footer>