body {
  height: 100%;
}

.sidenav-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-container mat-sidenav {
  max-width: 200px;
}

.sidenav-container .mat-sidenav-content,
.sidenav-container mat-sidenav {
  display: flex;
  overflow: visible;
}

.scrolling-content {
  overflow: auto;
  height: 100%;
}

.toogle-button.mat-mini-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
